@import "~antd/dist/antd.css";

.App {
  text-align: center;
  padding: 5%;
}

.searchmatch {
  background: yellow;
}

.input {
  width: 200px;
  margin: 2px;
}

.button {
  margin: 2px 1px;
}

.list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.error {
  margin-top: 20px;
}
